body{
    font-family: "Book Antiqua", sans-serif;
    font-size: large;
    background-color: #222222;


}

header{
    background-color: #333;
    color: orange;
    padding: 20px;
    text-align: center;



}

main{
    padding: 50px;


}

footer {
    display:flex;
    gap: 20px;
    border-radius: 10px;
    left: 10px;
    width: 98%;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    height: 100px;
    z-index: 2;
}
.myModal1{
    border-radius: 10px;

}
.search{
    margin-left: 800px;
}

.button{
    border-color: #093483;
}
.my-button{
    font-size: 20px;
    padding: 5px 20px;
    text-align: left;
    vertical-align: top;
    border-radius: 10px;
    border: solid 1px;
    background-color: #225ecf;
    outline: none;
    animation: myscale 4s infinite;
}
.my-button:hover{
    background-color: green;
    border-color: green;
    transition: background-color 0.1s ease;

}
.close{
    height: 20px;
    background-color: #333;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: white;
    scale: 1;
    border: solid white 1px;
    border-radius: 5px;
    margin-top: 70px;
    z-index: 30;
    transition: all 0.3s ease;
}
.close:hover{
    background-color: #121212;
    scale: 1.2;
    transition: all 0.3s ease;

}
.my-button1{
    background-color: #333;
    font-size: large;
    color: white;
    scale: 1;
    border-radius: 5px;
    border: solid white 1px;
    z-index: 30;
    margin-top: 70px;
    transition: all 0.3s ease;
}
.my-button1:hover{
    background-color: green;
    border-color: black;
    scale: 1.2;
    transition: all 0.3s ease;
}
.text{
    font-family: Arial;
    font-size: 15px;
    color: white;

}
.myModal{
    flex-direction: column;
    display: none;
    position: absolute;
    height: 200px;
    width: 500px;
    border: 1px  white dashed;
    border-radius: 10px;
    background-color: #333;
    left: 150px;
    top: 1700px;
    z-index: 11;
}
.myModal1{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #333;
    left: 200px;
    top: 1100px;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 0 1000px 300px #000000;
}

.myModal2{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #333;
    left: 200px;
    top: 20px;

}
.myModal3{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #333;
    left: 200px;
    top: 20px;
}
.myModal4{
    display: none;
    position: absolute;
    height: 200px;
    width: 650px;
    border: 1px solid white;
    background-color: #333;
    border-radius: 10px;
    left: 990px; top: 5px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 25;
}
.myModal5{
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #333;
    left: 200px;
    top: 20px;
}
.close-button1{
    margin-left: 1470px;
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 6px;

}
.close-button1:hover{
    background-color: red;
    border-color: transparent;
    transition: background-color 0.3s ease;
}
.close-button2{
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 2px;

}
.close-button2:hover{
    background-color: red;
    border-color: transparent;
    transition: background-color 0.3s ease;
}
.image-container{
    position: relative;
    margin-left: 2px;
    background-color: transparent;
    border-radius: 10px;
    width: 390px;
    height: 380px;
    scale: 1;
    border: white solid 2px;
    overflow: hidden;
    transition: all 0.3s ease;

}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.9s ease;

}
.image:hover{
    scale: 2.9;
    border-color: black;
    z-index: 10;
    transition: all 0.9s ease;
}
.image-container:hover{
    scale: 1.3;
    border-color: black;
    background-color: black;
    transition: all 0.9s ease;
}
.image-description{
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 100%;
    width: 150px;
    height: 60px;
    font-family: "Book Antiqua", sans-serif;
    font-size: x-large;
    color: yellow;
    text-scale: 1;
    border-top-left-radius: 45px;
    background-color: transparent;
    border: solid orangered 2px;
}
.image-description:hover{
    text-scale: 9.1;
    background-color: orangered;
    transition: all 0.3s ease;
}
.myModal6{
    flex-direction: row;
    display: none;
    position: absolute;
    height: 800px;
    width: 1500px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #333;
    left: 200px;
    top: 20px;
    z-index: 11;
    box-shadow: 0 0 1000px 300px #000000;
}
.link{
    font-family: "Book Antiqua", sans-serif;
    font-size: x-large;
    background-color: transparent;
    border-radius: 5px;
    color: #437ce6;
    border: solid white 1px;
}
.link:hover{
    border-color: green;
    transition: border-color 0.3s ease;
}
.text1{
    font-family: Arial, sans-serif;
    font-size: xxx-large;
    background-color: transparent;
    color: white;

}
.text-project{
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white;
}
.read-more{
    margin-left: 650px;
    width: 200px;
    height: 50px;
    scale: 1;
    font-family: Arial, sans-serif;
    background-color: transparent;
    font-size: xx-large;
    border-radius: 10px;
    border: solid red 1px;
    color: white;
    transition: scale 0.9s ease;

}
.read-more:hover{
    scale: 1.3;
    background-color: red;
    border-color: transparent;
    transition: background-color 0.3s ease;
    transition: scale 0.9s ease;
}
.show-text{
    display: none;
    font-family: Arial, sans-serif;
    font-size: x-large;
    flex-direction: row;
    color: white;
}
/*imagecar*/
.image-car{
    width: 40%;
    height: 40%;
    scale: 1;
    border: solid white 1px;
    border-radius: 5px;
    z-index: 1;
    transition: all 0.3s ease;


}
.image-car:hover{
    scale: 1.6;
    border-color: yellowgreen;
    z-index: 10;
    margin-left: 200px;
    transition: all 0.3s ease;
}
.image-car1{
    width: 40%;
    height: 40%;
    scale: 1;
    border: solid white 1px;
    border-radius: 5px;
    z-index: 6;
    transition: all 0.3s ease;


}
.image-car1:hover{
    scale: 1.6;
    border-color: yellowgreen;
    transition: all 0.3s ease;
}
.image-my-big{
    display: flex;
    gap: 10px;

}
.roll-up{
    margin-left: 650px;
    margin-top: 10px;
    display: none;
    width: 200px;
    height: 50px;
    scale: 1;
    font-family: Arial, sans-serif;
    background-color: transparent;
    font-size: xx-large;
    border-radius: 10px;
    border: solid red 1px;
    color: white;
    transition: scale 0.9s ease;


}
.roll-up:hover{
    scale: 1.1;
    background-color: red;
    border-color: transparent;
    transition: background-color 0.3s ease;
    transition: scale 0.9s ease;

}
.portfolio{
    font-family: Ebrima, sans-serif;
    font-size: xxx-large;
    color: white;
    text-shadow: 0 0 5px #fff,
    0 0 10px #0049ff,
    0 0 15px #002aff,
    0 0 20px #5466f4,
    0 0 30px #0024ff,
    0 0 40px #0747cf,
    0 0 75px #004bef,
    0 0 100px #002dff;

}

@keyframes myscale {
    0%{scale: 1;}
    50%{scale: 1.1;}
    100%{scale: 1;}
    
}
.link1{
    font-family: Arial, sans-serif;
    font-size: x-large;
    border: dashed 2px;
    color: blue;
    top: 80px;
    transition: all 0.3s ease;
}
.link1:hover{
    color: green;
    font-size: xx-large;
    transition: all 0.3s ease;
}
.portfolio-text{
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;


}
.image-print{
    width: 50%;
    height: 50%;
    border: solid white 1px;
    border-radius: 3px;
    scale: 1;
    z-index: 3;
    transition: all 0.3s ease;

}
.image-cube-print{
    display: none;
    position: absolute;
    top: 1100px;
    width: 1400px;
    height: 700px;
    border: solid white 1px;
    border-radius: 10px;
    background-color: #2c2c2c;
    box-shadow: 0 0 2000px 300px #000000;
    z-index: 25;
}
.close-button-img{
    margin-top: -705px;
    margin-left: 1470px;
    height: 27px;
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: wheat;
    border-radius: 6px;
}
.close-button-img:hover{
    background-color: red;
    border-color: transparent;
    color: black;
    transition: all 0.3s ease;
}
.image-print-container{
    position: relative;
    margin-left: 2px;
    background-color: transparent;
}
.image-print-inbox{
    width: 1400px;
    height: 700px;
    border-radius: 10px;
}
.image-print:hover{
    scale: 1.05;
    border-color: yellowgreen;
    transition: all 0.3s ease;
}
.cube-color{
    position: relative;
    background-color: #225ecf;
    border: darkblue double 5px;
    width: 400px;
    height: 55px;
    animation: color 4s infinite;
    scale: 1;
    z-index: 3;
    transition: all 0.3s ease;

}
.cube-color:hover{
    scale: 1.2;
    transition: all 0.3s ease;
}
.print-screen{
    display: flex;
    gap: 50px;
}
@keyframes color {
    0%{background-color: #225ecf;}
    20%{background-color: orangered;}
    40%{background-color: yellowgreen;}
    60%{background-color: #225ecf;}
    80%{background-color: orangered;}
    100%{background-color: yellowgreen;}
}

.cube-text{
    font-family: Arial, sans-serif;
    font-size: xxx-large;
    color: darkblue;
}
/*text for link*/
.link-text{
    font-family: Arial, sans-serif;
    font-size: large;
    color: red;
    margin-top: 100px;
    margin-left: -400px;
}
/*Realistic models*/
.realistic-models{
    font-family: Arial, sans-serif;
    font-size: xxx-large;
    color: black;
}
.button-futter{
    background-color: #333;
    font-size: medium;
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    height: 50px;
    scale: 1;
    transition: all 0.3s ease;
}
.button-futter:hover{
    scale: 1.2;
    background-color: #272727;
    border-color: white;
    transition: all 0.3s ease;
}
/*loading window*/
.loading{
    display: none;
    border: solid white 1px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    background-color: #333;
    position: absolute;
    left: 50%;
    z-index: 22;
}
.loading-text{
    font-family: "Book Antiqua", sans-serif;
    font-size: larger;
    color: white;
    padding: 2px;
}
.loading-bar{
    width: 450px;
    height: 24px;
    border: solid white 2px;
    margin-left: 25px;
}
.loading-line{
    width: 70px;
    height: 20px;
    margin-top: 2px;
    background-color: green;
    border: none;
    animation: loading-animate 5s ;
}
.loading-button{
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: medium;
    color: white;
    background-color: transparent;
    border-radius: 400px;
    border: solid white 1px;
    margin-left: 20px;
    margin-top: 20px;
}
.loading-button:hover{
    background-color: #2c2c2c;
    transition: all 0.3s ease;
}
.loading-progress{
    display: none;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    margin-left: 10px;
    margin-top: -10px;
}
.button-text{
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
}
.loading-button-container{
    display: flex;
    gap: 5px;
}
.cancel{
    font-size: large;
    color: white;
    height: 27px;
    margin-left: 427px;
    margin-top: 11px;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 5px;
}
.cancel:hover{
    background-color: #252525;
    color: black;
    transition: all 0.3s ease;
}
.loading-cancel-text{
    display: flex;
}
@keyframes loading-animate {
   from{margin-left: 0;width: 0px;}
    to{margin-left: 0;width: 450px;}

}
/*complete loading window*/
.complete-loading{
    display: none;
    position: absolute;
    left: 50%;
    width: 300px;
    height: 100px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: #2c2c2c;
    z-index: 29;
}
.complete-text{
    font-family: Arial, sans-serif;
    font-size: xxx-large;
    color: white;
    margin-top: 20px;

}
.complete-container{
    display: flex;
    gap: 30px;
}
.complete-button{
    font-family: Arial, sans-serif;
    font-size: xx-large;
    height: 40px;
    margin-top: 30px;
    margin-left: -15px;
    background-color: transparent;
    border: solid snow 1px;
    border-radius: 5px;
    color: white;
}
.complete-button:hover{
    background-color: #004bef;
    transition: all 0.3s ease;
}
/*realistic models*/
.realistic-text{
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white;
}
.links{
    font-size: x-large;
    color: cornflowerblue;
}
/*logo futter*/
.logo{
    width: 100px;
    height: 65px;
    margin-left: 200px;
}
.email{
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white;
    margin-top: 20px;

}
.logo1{
    position: absolute;
    width: 800px;
    height: 500px;
    margin-left: 800px;
    top: 0px;
    z-index: 20;
}
/*about me*/
.about-me{
    font-family: Arial, sans-serif;
    font-size: xxx-large;
    color: white;

}
.about-text{
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white;
}
.image-about{
    width: 25%;
    height: 500px;
    border: solid brown 3px;
    border-radius: 3px;
    margin-top: 20px;



}
.about-me-container{
    display: flex;
    gap: 10px;
}
.video-about{
    width: 50%;
    height: 50%;
    margin-top: 120px;
}
.about-me-text-container{
    display: block;
}
/*low poly*/
.low{
    font-family: Arial, sans-serif;
    font-size: xxx-large;
    color: white;
}
.low-text{
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white;
}
.low-text-large{
    font-family: Arial, sans-serif;
    font-size: xx-large;
    color: white;
}
.low-button{
    font-family: Arial, sans-serif;
    font-size: xx-large;
    height: 40px;
    margin-top: 30px;
    color: white;
    background-color: transparent;
    border: solid snow 1px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.low-button:hover{
    background-color: rgba(170, 255, 0, 0.7);
    color: black;
    transition: all 0.3s ease;
}
.link-for-project{
    font-family: Arial, sans-serif;
    font-size: xx-large;
    color: white;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 5px;
    margin-top: -10px;
    transition: all 0.3s ease;
}
.link-for-project:hover{
    background-color: rgba(64, 255, 0, 0.7);
    color: black;
}
/*ask me*/
.ask-me{
    font-family: Arial, sans-serif;
    font-size: xxx-large;
    color: white;
}

.ask-me-text{
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white;
}
.ask-me-input{
    font-family: Arial, sans-serif;
    font-size: x-large;
    background-color: #2c2c2c;
    color: white;
    border: solid dodgerblue 2px;
    border-radius: 5px;
    scale: 1.2;
    margin-left: 25px;
    margin-top: -10px;
}

.ask-me-input1{
    font-family: Arial, sans-serif;
    font-size: x-large;
    background-color: #2c2c2c;
    color: white;
    border: solid dodgerblue 2px;
    border-radius: 5px;
    scale: 1.2;
    margin-left: 25px;
    margin-top: -10px;
}

.ask-me-input2{
    font-family: Arial, sans-serif;
    font-size: x-large;
    background-color: #2c2c2c;
    color: white;
    border: solid dodgerblue 2px;
    border-radius: 5px;
    scale: 1.2;
    margin-left: 25px;
    margin-top: -10px;

}
.ask-me-input2:invalid{
    border: solid red 2px;
}

.ask-me-input-ask{
    font-family: Arial, sans-serif;
    font-size: x-large;
    background-color: #2c2c2c;
    color: white;
    border: solid dodgerblue 2px;
    border-radius: 5px;
    margin-left: -5px;
    margin-top: -10px;

}
.ask-me-button{
    font-family: Arial, sans-serif;
    font-size: xx-large;
    height: 45px;
    margin-top: 15px;
    color: white;
    background-color: transparent;
    border: solid dodgerblue 3px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.ask-me-button:hover{
    background-color: #6ca0ff;
    transition: all 0.3s ease;
}
.ask-text{
    font-family: Arial, sans-serif;
    font-size: medium;
    color: red;
    margin-left: 40px;
    position: absolute;
    z-index: 5;
}
.ask-me-text-ask{
    display: block;
    margin-left: 505px;
}
.ask-text1{
    font-family: Arial, sans-serif;
    font-size: medium;
    color: red;
    position: absolute;
    margin-top: 35px;
    margin-left: 38px;
    z-index: 5;
}
.ask-text2{
    font-family: Arial, sans-serif;
    font-size: medium;
    color: red;
    position: absolute;
    margin-top: 55px;
    margin-left: 38px;
    z-index: 5;
}
.ask-text3{
    font-family: Arial, sans-serif;
    font-size: medium;
    color: red;
    margin-left: 15px;
    position: absolute;
    z-index: 5;
}
.info-box{
    display: none;
    position: absolute;
    width: 500px;
    height: 300px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: #2c2c2c;
    z-index: 29;
    margin-top: -200px;
}
.output{
    font-family: Arial, sans-serif;
    font-size: x-large;
    color: white;

}













